Package: com.efrederickson.nopasshighlight
Name: NoPassHighlight
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Disable lock screen passcode button highlight
Maintainer: Elijah Frederickson
Author: Elijah Frederickson
Section: Tweaks
